/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

html{
	background-color: #E9F0F4;
}

/* ============================== Navigation =========================== */



nav{
	background-color: rgba(153, 159, 172, 0.98);
/*	position: fixed;*/
    top: 0;
    width: 100%; 
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", 
	"Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.container, .nav-container{
	max-width: 1280px;
  	width: 90%;
  	margin: 0 auto;
}



.home-link-left{
	padding-left: 10px;
	font-size: 150%;
}

a:hover {
	color: #5DC4FA;
	background: none;
}

a:active {
	text-decoration-color: #5DC4FA;
}

.button-disabled:hover {
	background: #999FAC;
}

/*#mobile-demo .side-nav{
	background-color: rgba(153, 159, 172, 0.98);
}
*/
/* ============ Main Page Container - Light Blue Background ============== */

.container{
	background-color: #D8FBFF;	
	padding-top: 60px;
}

/* =============================== Body =================================== */

body{
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", 
	"Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

/* ============= Div style for homepage and portfolio pages =============== */

