/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

html{
	background-color: #E9F0F4;
}

/* ============================== Navigation =========================== */



nav{
/*	position: fixed;*/
    top: 0;
    width: 100%; 
    font-family: "HelveticaNeue-Regular", "Helvetica Neue Regular", 
	"Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.container, .nav-container{
	max-width: 1280px;
  	width: 90%;
  	margin: 0 auto;
}

.home-link-left{
	padding-left: 10px;
	font-size: 150%;
}


/*body > nav > div > a:hover {
	background-color: red;
}

.button-disabled:hover{
	background-color: red;
}

.nav-wrapper > ul > li > a:hover {
  color: white;
}

a:hover {
	color: #5DC4FA;
}

a:active {
	text-decoration-color: #5DC4FA;
}*/

/* ========================= Home Page Container ========================== */

.container{
	background-color: #D8FBFF;	
	padding: 50px;
}

/* =============================== Body =================================== */

body{
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", 
	"Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	color: black;
}

/* ============= Div style for homepage and portfolio pages =============== */

.divider{
	height: 2px;
	background-color: #90a4ae;
}

/* ========================= Card Panel Work for index =================== */

.card-panel{
	padding: 0;
}

.btn{
	margin-bottom: 15px;
}
