/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

html {
	background-color: #E9F0F4;
}

/* ============================== Navigation =========================== */



nav {
/*	position: fixed;*/
    top: 0;
    width: 100%; 
    font-family: "HelveticaNeue-Regular", "Helvetica Neue Regular", 
	"Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.container, .nav-container {
	max-width: 1280px;
  	width: 90%;
  	margin: 0 auto;
}

.home-link-left {
	padding-left: 10px;
	font-size: 150%;
}

nav ul a{
	color: #E9F0F4;

}
nav ul a:hover, nav a:hover {
	color: #5DC4FA;
	background-color: #90a4ae;
}

/* ========================= Home Page Container ========================== */

.container {
	background-color: #D8FBFF;	
	padding: 50px;
}

/* =============================== Body =================================== */

body {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", 
	"Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	color: #E9F0F4;
}

h2.portfolio {
	font-size: 2.5rem;
}

h3.portfolio {
	font-size: 1.8rem;
	font-style: italic;
}

/* ========================= Card Panel Work for index =================== */

.card-panel {
	padding: 15px;
}

.btn {
	margin-bottom: 15px;
}

/* ========================= h1 for portfolio pages  =================== */

h1 {
	color: #90a4ae;
}

h1.center-align.aaron {
	color: #E9F0F4;
}


/* ===================== Portrait for portfolio pages  ================== */

.portrait {
	width: 100%;
	height: 100%;
}

/* ========================= Grid for portfolio pages  =================== */

.wrapper {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-gap: 25px;
	grid-auto-rows: minmax(100px, auto);
}

.one {
	grid-column: 1 / 4;
	grid-row: 1;
}

.two {
	grid-column: 4 / 6;
	grid-row: 1 / 3;
}

.three {
	grid-column: 1 / 4;
	grid-row: 2;
}

.four {
	grid-column: 1 / 4;
	grid-row: 3 / 6;
}

.five {
	grid-column: 4 / 6;
	grid-row: 3 / 5;
}










